.contact-info-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .contact-details {
    text-align: left;
  }
  
  .contact-details h3 {
    margin: 10px 0;
  }
  
  .contact-details p {
    margin: 5px 0 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  ul li a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  